@import "reset";
@import "variables";

body{
  min-width: 400px;
  background-color: #181717;
}

table{
  border: none;
  margin-left: auto;
  margin-right: auto;
}

tr {
  margin-bottom: 10px;
  td {
    padding: 10px;
  }
}
header {
  padding: 20px 0;
}
.app-control-bar {
  display: flex;
  justify-content: flex-end;
  > li {
    margin-right: 20px;
  }
}

#dashboard {
  background-color: #cccccc;
  margin-bottom: 20px;
  border-radius: 20px;
  color: black;
  padding: 0 10px;
}
.app-result {
  font-size: 60px;
  height: 80px;
  width: 375px;
  text-align: right;
  color: white;
  border: none;
  background: transparent;
}
.app-button {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border-style: none;
  color: white;
  font-size: 32px;
  font-weight: 600;
}

.app-button-long {
  height: 80px;
  width: 185px;
  border-radius: 40px;
  background-color: var(--button-digit);
  color: white;
  border-style: none;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}

.app-button-digit {
  background-color: var(--button-digit);
  color: black;
}

.app-button-operator {
  background-color: var(--button-operator);
}
